* {
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
  line-height: 2;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: white;
}

nav > img {
  position: absolute;
  left: 10%;
  border-radius: 25%;
  background-color: lightslategray;
}

header, .projects {
  padding: 12% 0;
  background-color: lightgray;
}

.aboutMe {
  background-color: grey;
  padding: 12%;
}

footer {
  padding: 1% 0;
  background-color: white;
}